* {
  box-sizing: border-box;
}

.card-img-top {
  width: 100%;
  height: 15vh;
  object-fit: cover;
}

.card,
.back-button,
.shopping-cart {
  cursor: pointer;
}

.product-detail {
  border: 2px solid #ddd;
  margin: 25px;
  border-radius: 5px;
}

.img-detail {
  height: auto;
  width: 50%;
  margin-left: 25px;
}

.product-desc {
  margin: 25px;
}

.item-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ddd;
  border-radius: 5px;
  height: 350px;
  width: 1000px;
}

.item-img {
  height: auto;
  max-width: 250px;
  object-fit: cover;
  margin: 0 auto;
}

.img-container {
  margin: 0 auto;
}

.item {
  margin-top: 25px;
}

.cart-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.alerts {
  color: #FF0000;
}

.valid {
  color: #00FF00;
}

.cart-footer {
  display: flex;
  width: 92%;
}

.cart-row {
  display: flex;
  justify-content: center;
}

.form-footer {
  display: flex;
}
